@{
    ViewData["Title"] = "Index";
}

@model List<Supplier>

<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Data Table</strong>
            </div>
            <div class="card-body">
                <!-- /# column -->
                <div class="col-lg-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="custom-tab">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="custom-nav-active-suppliers-tab" data-toggle="tab" href="#custom-nav-active-suppliers" role="tab" aria-controls="custom-nav-active-suppliers" aria-selected="true">Aktif Tedarikciler</a>

                                        <a class="nav-item nav-link" id="custom-nav-all-suppliers-tab" data-toggle="tab" href="#custom-nav-all-suppliers" role="tab" aria-controls="custom-nav-all-suppliers" aria-selected="false">Tüm Tedarikciler</a>
                                    </div>
                                </nav>
                                <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="custom-nav-active-suppliers" role="tabpanel" aria-labelledby="custom-nav-active-suppliers-tab">
                                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Tedarikci Adı</th>
                                                    <th>Tedarikci Adresi</th>
                                                    <th>Tedarikci Telefon</th>
                                                    <th>Tedarikci Email</th>
                                                    <th>Durumu</th>
                                                    <th>İşlemler</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (Supplier item in Model)
                                                {
                                                    @if (item.IsActive)
                                                    {

                                                        <tr>
                                                            <td>@item.SupplierName</td>
                                                            <td>@item.Address</td>
                                                            <td>@item.Phone</td>
                                                            <td>@item.Emain</td>
                                                            <td>
                                                                @if (item.IsActive)
                                                                {
                                                                    <span>Aktif</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>Pasif</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                <a asp-controller="Supplier" asp-action="TedarikciSil" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>&nbsp; Sil</a>
                                                                <a asp-controller="Supplier" asp-action="TedarikciGuncelle" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i>&nbsp; Güncelle</a>

                                                            </td>
                                                        </tr>

                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="custom-nav-all-suppliers" role="tabpanel" aria-labelledby="custom-nav-all-suppliers-tab">
                                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Tedarikci Adı</th>
                                                    <th>Tedarikci Adresi</th>
                                                    <th>Tedarikci Telefon</th>
                                                    <th>Tedarikci Email</th>
                                                    <th>Durumu</th>
                                                    <th>İşlemler</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (Supplier item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.SupplierName</td>
                                                        <td>@item.Address</td>
                                                        <td>@item.Phone</td>
                                                        <td>@item.Emain</td>
                                                        <td>
                                                            @if (item.IsActive)
                                                            {
                                                                <span>Aktif</span>
                                                            }
                                                            else
                                                            {
                                                                <span>Pasif</span>
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (item.IsActive)
                                                            {
                                                                <a asp-controller="Supplier" asp-action="TedarikciSil" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>&nbsp; Sil</a>
                                                            }
                                                            else
                                                            {
                                                                <a asp-controller="Supplier" asp-action="TedarikciAktiflestir" asp-route-id="@item.Id" class="btn btn-success btn-sm"><i class="fa fa-check-square"></i>&nbsp; Aktif Et</a>
                                                            }

                                                            <a asp-controller="Supplier" asp-action="TedarikciGuncelle" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i>&nbsp; Güncelle</a>


                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Css{
    <link rel="stylesheet" href="~/template/assets/css/lib/datatable/dataTables.bootstrap.min.css">

    }
    @section Scripts{

    <script src="~/template/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="~/template/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="~/template/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/template/assets/js/init/datatables-init.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#bootstrap-data-table-export').DataTable();
        });
    </script>


    }
